body{background-color:#fff;z-index: 20}
.banner_wrap{margin: 0 auto;height: 480px;position: relative;overflow: hidden;}
.banner{margin: 0 auto;height: 480px;overflow: hidden;position: relative;}
#pic-list{width: 10000000px;height: 480px;position: absolute;top:0;left:200px;}
#pic-list li{float: left;}
#btn-list{height: 26px;width: 281px;position: absolute;left:50%;bottom:10px;text-align: center;line-height: 26px;}
#btn-list li{float: left;width: 26px;height: 26px;border-radius: 50%;background-color: #717852;color: #edf4ce;margin-right: 10px;cursor: pointer;}
#btn-list .active{background-color: #e9a002;}
.hot-ad{width: 260px;position: absolute;top: 15px;right: 30px;}
.hot-ad a{margin-top: 2px;display: block;position: relative;}
.box{background-color: rgba(0,0,0,0.1);position: absolute;top: 0;left: 0;z-index: 5;width: 260px;display: none;}
.box1{height: 185px;}
.box2{height: 130px;}



.index_m1{height: 497px;margin: 25px auto 0;}
.m1_tit{height: 37px;line-height: 37px; }
.index_m1 h2{font-size: 17px;float: left;margin: 0 15px;}
.index_m1 b{width: 122px;height:17px;background:url("../images/index_icon_new.png") no-repeat -29px -333px;float: left;margin-top: 10px;display: block}
.m1_sort{width: 1200px;height: 460px;}
.sort-left{width: 945px;height: 460px;margin-left: 10px;}
.sort-big{width: 945px;height:258px; }
.sort-big li{width: 235px;height: 258px;border: 1px solid #e8e8e8;float: left;position: relative;margin-left: -1px;}
.g_btn{width:160px;height:24px;border-radius:2px;background-color:#76ac25;position: absolute;left:30px;bottom:8px;line-height: 24px;text-align: center;color: #fff;}
.sort-small{width: 945px;height: 200px;}
.sort-small li{border: 1px solid #e8e8e8;float: left;position: relative;margin-left: -1px;margin-top: 0px;border-top: none;}
.sort-right{width: 222px;height: 458px;border: 1px solid #e8e8e8;}
.index_m1 .right_tit{width: 202px;height: 39px;margin-left: 10px;border-bottom: 1px dotted #dbdbdb;line-height: 39px;color: #323232;}
.index_m1 .right_tit a{color: #969696;}
.index_m1 .right_tit a:hover{color: #76ac25;}
.right-item{width: 202px;height: 120px;margin-left: 25px;}
.right-item li{font-size: 12px;margin: 13px 0;}
.right-item li:hover a{color:#76ac25;}


.index_m2{margin:30px auto 0;height: 330px;}
.m2_left{width: 945px;height: 330px;background-color: #ffecbf;float: left;margin-left: 10px;}
.m2-right{height: 330px;width: 222px;float: right;}
.m2_tit{height: 28px;padding: 18px 0 18px 20px;line-height: 28px;position: relative;}
.m2_tit b{width:19px;height:37px;background: url("../images/index_icon_new.png") no-repeat -1px -314px;margin: -5px 0 0 10px;display: block;float: left;}
.m2_tit i{width: 111px;height: 28px;display: block;background: url("../images/index_icon_new.png") no-repeat -204px -319px;float: left;margin: -2px 0 0 10px;}
.m2_tit span{font-size: 12px;color: #565656;padding: 0 10px;float: left;margin: 0 0 0 10px;}
.m2_tit dl{float: left;}
.m2_tit dl dd{width:20px;height:28px;font-size: 20px;background:url("../images/indexsprite (1).png") no-repeat -83px -77px;text-align: center;margin-right: 2px;float: left;color: #fff;}
.m2_tit .no{font-size: 18px;font-weight: 600;width: 16px;color: #555;background: none;}
.tright{float: right;width: 100px;height: 28px;font-size: 16px;text-align: center;margin-right: 10px;font-weight: bold;color: #666;cursor: pointer;}
.tright a,.tright1 a{width:100px;margin-top: -6px;display: block;background: url("../images/indexsprite.png") no-repeat }
.tright a{background-position: -90px -296px;color: #666;}
.tright1{display: none;float: right;width: 100px;height: 28px;font-size: 16px;text-align: center;font-weight: bold;color: #666;cursor: pointer;position: absolute;right: 10px;}
.tright1 a{background-position:-165px -270px;color: #fa6400;}
.tright a:hover{color:#76ac25;background-position:-90px -239px;}
.tright1 a:hover{color:#76ac25;background-position:-165px -209px;}


.m2_sort{width: 905px;margin: 0 20px;color: #666;}
.m2_sort li{width: 150px;padding: 15px;float: left;background-color:#fff;position: relative;margin-right: 1px;}
.m2_sort li .m2-img{width: 150px;height: 150px;display: block;}
.m2_sort li .m2-img img{width: 100%;height: 100%;}
.m2_sort li .m2_txt{width: 150px;height: 18px;margin-top: 15px;display: inline-block;}
.m2_sort li .price{height: 22px;margin-top: 8px;width: 150px;}
.price span{float: left;color: #ea5404;width: 55px;font-size: 14px;font-weight: bold;}
.price a{float: right;display: inline-block;background-color: #fa6400;padding: 0 10px;font-size: 12px;margin-right: 2px;text-align: center;border-radius: 3px;}

.floor{margin:0 auto;width: 1200px;height:600px;}
.floor_top{width: 1190px;padding: 0 10px;margin-top: 30px;}
.floor_top img{width: 100%;height: 100%;}
.floor .floor_main{margin-top: 30px;}
.floor .main_left{width: 250px;height: 470px;float: left;}
.floor .main_left h2{height: 50px;width: 240px;/*background-color: #76ac25;*/line-height: 50px;margin-left:10px;}
.floor .main_left h2 b{width: 15px;height: 16px;float: left;margin: 16px 8px 0 75px;background: url("../images/index_icon_new.png");display: block;}
.floor .main_left h2 a{color: #fff;}


.floor .main_right{width: 950px;height: 469px;float: right;border-top: 1px solid #adcd7c;}
.f_list{width: 710px;padding: 7px 10px 9px;border-bottom: 1px solid #f4f4f4;float: left;}
.f_list li{width: 160px;padding: 8px;float: left;margin-top:10px;position: relative;}
.f_list li .title-a{height: 18px;line-height: 18px;}
.f_list li .title-a a{color: #666;}
.f_list li span{width:70px;height: 18px;line-height: 18px;font-size: 16px;color: #ea5404;float: left;font-weight: 600;margin-top: 4px;}

.floor .g_btn{left: 8px;top: 145px;display: none;}
/*.f_list li:hover .g_btn{display: block;}*/

.r_right{width: 220px;height: 469px;float: right;background-color: #f4f4f4;}
.r_right .t_hot{height: 189px;margin: 25px 0 0 15px;overflow: hidden;}
.r_right .t_hot li{width: 55px;height: 55px;line-height: 55px;text-align: center;float: left;background: url("../images/index_icon_new.png") no-repeat 0 0;margin: 4px;}
.r_right .t_hot li:hover{background-position: 0 -62px;color: #fff;}

.index_m3{margin: 30px auto 0;overflow: hidden;}
.index_m3 .m3_left{width: 400px;height: 200px;float: left;overflow: hidden;margin-right: 20px;border-bottom: 1px solid #f0f0f0;}
.index_m3 .m3_tit{height: 25px;padding: 15px 0 10px 0;line-height: 25px;border-bottom: 1px solid #e8e8e8;color: #323232;font-size: 16px;}
.index_m3 .m3_tit h3{background: url("../images/m3_bg.jpg") no-repeat center left;padding-left: 15px;}

.index_m3 .m3_taste .slide{position: relative;width: 170px;height: 120px;float: left;margin-top: 20px;overflow: hidden;}
.index_m3 .m3_taste .slide ul{position: absolute;height: 110px;width: 10000px;}
.index_m3 .m3_taste .slide ul li{float: left;width: 170px;height: 110px;}
#prev{width: 38px;height: 50px;cursor: pointer;position: absolute;top: 50%;left:5px;margin-top: -38px;background: url("../images/btn.png") no-repeat 8px 10px;display: none;}
#next{width: 38px;height: 50px;cursor: pointer;position: absolute;top: 50%;right:5px;margin-top: -38px;background: url("../images/btn.png") no-repeat -16px 10px;display: none;}

.index_m3 .m3_taste .info{float: right;margin: 20px 0 0 10px;}
.index_m3 .m3_taste .info li{width: 205px;height: 20px;line-height: 25px;background: url("../images/dian.jpg") no-repeat center left;padding-left: 10px;}
.index_m3 .m3_taste .info li:hover a{color: #959900;}


.index_m3 .m3_center{width: 420px;height: 200px;float: left;border-bottom: 1px solid #f0f0f0;margin-right: 20px;}

 .scroll_wrap{margin-top: 20px;height: 122px;overflow: hidden;position: relative;}
.scroll_wrap .scroll_list{position: absolute;left: 0;top: 0;}
.scroll_wrap .scroll_list .scroll_item{height: 58px;border-bottom: 1px dotted #e8e8e8;overflow: hidden;margin-bottom: 8px;}
.scroll_wrap .scroll_list .scroll_item .s_l{float: left;}
.scroll_wrap .scroll_list .scroll_item .s_l img{width: 50px;height: 50px;}
.scroll_wrap .scroll_list .scroll_item .s_r{width: 370px;float: right;overflow: hidden;}
.scroll_wrap .scroll_list .scroll_item .s_r p{height: 22px;line-height: 22px;padding-left: 20px;overflow: hidden;white-space: nowrap;width: 370px;text-overflow:ellipsis;}
.scroll_wrap .scroll_list .scroll_item .s_r p a{color: #fa9600;}
.scroll_wrap .scroll_list .scroll_item .s_r p a:hover{text-decoration: underline;}
.scroll_wrap .scroll_list .scroll_item .s_r .s_title a{color: #646464;}

.index_m3 .m3_right{width: 337px;height: 199px;float: right;border: 1px solid #e8e8e8;}
.r_caption{width: 300px;height: 25px;margin: 0 auto;line-height: 25px;padding: 14px 0 10px 0;border-bottom: 1px solid #e8e8e8;}
.r_caption p{float: left;color: #323232;background: url("../images/youpin.jpg") no-repeat center left;padding-left: 24px;font-weight: bold;}
.r_caption h2{float: right;cursor: pointer;}
.r_caption h2 a{width: 60px;height: 29px;background:url("../images/foot_bottom.png") no-repeat -3px -97px;color: rgb(102,102,102);
 display: block;}
.r_caption h2:hover a{background-position: -3px -123px;}
.r_pic{width: 300px;height: 70px;margin:20px auto 0 ;}
.r_pic li{float: left;width: 70px;margin-right: 5px; }
.r_mail{width: 302px;margin: 0 auto;padding: 15px 0;}
.r_mail li{float: left;}
.r_mail .first input{width: 130px;height: 22px;line-height: 22px;border: 1px solid rgb(204,204,204);padding: 0 2px;margin-right: 2px;display: inline;}








