.header{width: 1000px;margin: 0 auto;height: 95px;}
.header img{margin: 10px 0;float: left;}
.header span{color: #515151;line-height: 70px;font-size: 24px;float: left;margin: 10px 0;padding-left: 3px;font-family: "微软雅黑";}
.main{width: 1000px;margin: 0 auto;min-height: 500px;height: auto;}
.main .pic{width: 540px;height: 390px;float: left;padding-top: 14px;display: block;}
.login{width: 400px;min-height: 100px;float: right;}
.login-header{width: 400px;height: 50px;line-height: 50px;}
.login-header span{color: #515151;font-size: 16px;display: inline-block;float: left;}
.login-header a{color: #515151;float: right;width: 70px;height: 25px;line-height:25px;font-size: 12px;border: 1px solid #34b742;text-align: center;margin-top: 12px;background-color: #fff4f0;display: inline-block;}
.login-wrap{min-height: 150px;border: 1px solid #cdcdcd;}
.loginNav{width: 400px;}
.loginNav li{width: 132px;height: 30px;line-height: 30px;font-size: 14px;float: left;border: 1px solid #cdcdcd;border-top: none;border-left: none;cursor: pointer;text-align: center;}
.loginNav .active{border-bottom: 1px solid #fff;border-top:2px solid #69af05;margin-top: -2px;position: relative;}
.loginNav b{width: 15px;height: 15px;float: left;margin: 10px 5px 0 25px;background: url("../images/loginicon.png") no-repeat;}
.loginNav .pay b{background-position: 0 -25px;}
.loginNav .sy b{background-position: 0 -48px;}
.loginCon{width: 100%;min-height: 100px;}
.loginCon ul{padding:45px 0 0 33px;width: 324px;display: none;}
.loginCon ul.active{display: block;}
.loginCon ul li h3{height:26px;line-height: 26px;font-size: 12px;font-weight: normal;}
.loginCon ul li .border{width: 320px;height: 36px;line-height: 36px;border: 1px solid #cdcdcd;display: block;}
.loginCon ul li .border input{width: 274px;height: 20px;line-height: 20px;padding: 8px 5px;font-size: 14px;float: left;}
.loginCon ul li .border i{width: 30px;height: 38px;float:left;}
.loginCon ul li .border i.icon1{background: url("../images/icon1.jpg") no-repeat center;}
.loginCon ul li span.error{width: 315px;height: 20px;line-height: 20px;padding-left: 5px;border: 1px solid #fa9600;border-top: none;color: #fa9600;font-size: 12px;background: #ffece5;display: none;}
.loginCon ul li .border i.icon2{background: url("../images/icon2.jpg") no-repeat center;}
.scode{margin: 30px 10px 0 0;overflow: hidden;}
.loginCon ul li.scode .code{width: 94px;height: 20px;line-height: 20px;border: 1px solid #d5d5d5;margin-right: 10px;padding: 8px 5px;float: left;}
.loginCon ul li.scode  .code_img{width: 106px;height: 36px;float: left;margin-left: 10px;}
.loginCon ul li a.forget-password{display: block;width: 65px;margin-left: 260px;height: 22px;padding-right: 5px;color: #515151;text-align: right;}
.loginCon ul li a.login-btn{display: block;background: url("../images/login_bg.jpg") no-repeat left top;height: 41px;line-height: 41px;text-align: center;color:#f2f1f1;}
